
.body-hombre{
    background-color: rgba(0, 0, 0, 0.05);
}

.card-deck{
    padding: 20px;
}

.category-division{
    text-align: center;
    font-size: 30px;
    background-color: gray;
    padding: 10px;
    color: white;
}

.home-page-man-division{
    text-align: center;
    font-size: 30px;
    background-color: gray;
    padding: 10px;
    color: white;
}

.home-page-woman-division{
    text-align: center;
    font-size: 30px;
    background-color: gray;
    padding: 10px;
    color: white;
}

